/*-------------------
	  Utilities
--------------------*/


// displays
// ----------------------------------------------------------------------
.display-b {
	display: block;
}
.display-ib {
	display: inline-block;
}
.display-f {
	display: flex;
}
.display-g {
	display: grid;
}


// full fills
// ----------------------------------------------------------------------
.full-absolute {
	@include full(absolute);	
}
.full-fixed {
	@include full(fixed);
}



// rotation
// ----------------------------------------------------------------------
.rotate-180 {
	transform: rotate(180deg);
}
.rotate-90 {
	transform: rotate(90deg);
}
.rotate-270 {
	transform: rotate(270deg);
}



// alignments
// ----------------------------------------------------------------------

// text align
.txt-l  { text-align: left; }
.txt-r  { text-align: right; }
.txt-c  { text-align: center; }
.txt-j  { text-align: justify; }



// spacers
// ----------------------------------------------------------------------
@for $i from 1 through 16 {
	// margin
	.spacer-margin-#{$i} {
		@include spacer($i, false);
	}
	
	//padding
	.spacer-padding-#{$i} {
		@include spacer($i, true);
	}
}



// opacities
// -------------------------
.o-100 { opacity: 1;    }
.o-90  { opacity: .9;   }
.o-80  { opacity: .8;   }
.o-70  { opacity: .7;   }
.o-60  { opacity: .6;   }
.o-50  { opacity: .5;   }
.o-40  { opacity: .4;   }
.o-30  { opacity: .3;   }
.o-20  { opacity: .2;   }
.o-10  { opacity: .1;   }
.o-05  { opacity: .05;  }
.o-025 { opacity: .025; }
.o-0   { opacity: 0; }



// visibility
// -------------------------
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.visible-xs {
	@media (min-width: $sm) {
		display: none;
	}
}
.hidden-xs {
	@media (max-width: $sm) {
		display: none;
	}
}
.hidden-sm {
	@media (min-width: $sm) and (max-width: $md) {
		display: none;
	}
}
.hidden-md {
	@media (min-width: $md) and (max-width: $lg) {
		display: none;
	}
}
.hidden-lg {
	@media (min-width: $lg) {
		display: none;
	}
}



// fonts
// -------------------------
.font-dark-blue {
	color: $ns-grey;
}
.font-white {
	color: $ns-white;
}
.font-yellow {
	color: $ns-yellow;
}
.font-blue {
	color: $ns-blue;
}
.font-light-blue {
	color: $ns-light-blue;
}
.font-grey-4 {
	color: $ns-grey-4;
}
.regular {
	font-weight: normal;
}
.bold {
	font-weight: bold;
}
.no-wrap {
	white-space: nowrap;
}



// colours
// -------------------------
.blue {
	color: $ns-blue;
	svg {
		fill: $ns-blue;
	}
}
.light-blue {
	color: $ns-light-blue;
	svg {
		fill: $ns-light-blue;
	}
}
.red {
	color: $ns-red-alert;
	svg {
		fill: $ns-red-alert;
	}
}
.white {
	color: $ns-white;
	svg {
		fill: $ns-white;
	}
}
.bg-blue {
	background-color: $ns-blue;
}
.bg-light-blue {
	background-color: $ns-light-blue;
}
.bg-yellow {
	background-color: $ns-yellow;
}
.bg-grey-8 {
	background-color: $ns-grey-8;
}
.bg-grey-7 {
	background-color: $ns-grey-7;
}



// dividers
// -------------------------
.divider-white {
	border-bottom: 1px solid $ns-white;
}
.divider-grey-7 {
	border-bottom: 1px solid $ns-grey-7;	
}
.divider-grey-6b {
	border-bottom: 1px solid $ns-grey-6b;	
}
.divider-grey-6 {
	border-bottom: 1px solid $ns-grey-6;	
}
.divider-alpha-15 {
	border-bottom: 1px solid $ns-grey-alpha-15;	
}
.divider-blue-2px {
	border-bottom: 2px solid $ns-blue;
}
.divider {
	@extend .divider-grey-7;
}
.divider-v {
	border-left: 1px solid $ns-grey-7;
}



// shadows
// -------------------------
.box-shadow-soft {
	box-shadow: $box-shadow-soft;
}
.box-shadow-hard {
	box-shadow: $box-shadow-hard;
}
.box-shadow-container {
	box-shadow: $box-shadow-container;
}