/*-------------------
	  Utilities
--------------------*/


// displays
// ----------------------------------------------------------------------
.display-b {
	display: block;
}
.display-i {
	display: inline;
}
.display-ib {
	display: inline-block;
}
.display-f {
	display: flex;
}
.display-g {
	display: grid;
}


// full fills
// ----------------------------------------------------------------------
.full-absolute {
	@include full(absolute);	
}
.full-fixed {
	@include full(fixed);
}



// rotation
// ----------------------------------------------------------------------
.rotate-45 {
	transform: rotate(45deg);
}
.rotate-90 {
	transform: rotate(90deg);
}
.rotate-135 {
	transform: rotate(135deg);
}
.rotate-180 {
	transform: rotate(180deg);
}
.rotate-225 {
	transform: rotate(225deg);
}
.rotate-270 {
	transform: rotate(270deg);
}
.rotate-315 {
	transform: rotate(315deg);
}


// alignments
// ----------------------------------------------------------------------

// text align
.txt-l  { text-align: left; }
.txt-r  { text-align: right; }
.txt-c  { text-align: center; }
.txt-j  { text-align: justify; }



// spacers
// ----------------------------------------------------------------------
/*
	Base:
	p = padding
	m = margin
	
	Modifiers:
	a = all
	h = horizontal
	v = vertical
	t = top
	r = right
	b = bottom
	l = left
	
	Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/
@for $i from 0 through 16 {	
	// margin
	.ma-#{$i} {
		@include spacer($i, margin);
	}
	.mh-#{$i} {
		@include spacer($i, margin-left);
		@include spacer($i, margin-right);
	}
	.mv-#{$i} {
		@include spacer($i, margin-top);
		@include spacer($i, margin-bottom);
	}
	.mt-#{$i} {
		@include spacer($i, margin-top);
	}
	.mb-#{$i} {
		@include spacer($i, margin-bottom);
	}
	.ml-#{$i} {
		@include spacer($i, margin-left);
	}
	.mr-#{$i} {
		@include spacer($i, margin-right);
	}

	// padding
	.pa-#{$i} {
		@include spacer($i, padding);
	}
	.ph-#{$i} {
		@include spacer($i, padding-left);
		@include spacer($i, padding-right);
	}
	.pv-#{$i} {
		@include spacer($i, padding-top);
		@include spacer($i, padding-bottom);
	}
	.pt-#{$i} {
		@include spacer($i, padding-top);
	}
	.pb-#{$i} {
		@include spacer($i, padding-bottom);
	}
	.pl-#{$i} {
		@include spacer($i, padding-left);
	}
	.pr-#{$i} {
		@include spacer($i, padding-right);
	}
	
	@include md {
		// margin
		.ma-#{$i}-ns {
			@include spacer($i, margin);
		}
		.mh-#{$i}-ns {
			@include spacer($i, margin-left);
			@include spacer($i, margin-right);
		}
		.mv-#{$i}-ns {
			@include spacer($i, margin-top);
			@include spacer($i, margin-bottom);
		}
		.mt-#{$i}-ns {
			@include spacer($i, margin-top);
		}
		.mb-#{$i}-ns {
			@include spacer($i, margin-bottom);
		}
		.ml-#{$i}-ns {
			@include spacer($i, margin-left);
		}
		.mr-#{$i}-ns {
			@include spacer($i, margin-right);
		}
		
		// padding
		.pa-#{$i} {
			@include spacer($i, padding);
		}
		.ph-#{$i} {
			@include spacer($i, padding-left);
			@include spacer($i, padding-right);
		}
		.pv-#{$i} {
			@include spacer($i, padding-top);
			@include spacer($i, padding-bottom);
		}
		.pt-#{$i} {
			@include spacer($i, padding-top);
		}
		.pb-#{$i} {
			@include spacer($i, padding-bottom);
		}
		.pl-#{$i} {
			@include spacer($i, padding-left);
		}
		.pr-#{$i} {
			@include spacer($i, padding-right);
		}
	}
}



// opacities
// ----------------------------------------------------------------------
.o-100 { opacity: 1;    }
.o-95  { opacity: .95;   }
.o-90  { opacity: .9;   }
.o-80  { opacity: .8;   }
.o-75  { opacity: .75;   }
.o-70  { opacity: .7;   }
.o-60  { opacity: .6;   }
.o-50  { opacity: .5;   }
.o-40  { opacity: .4;   }
.o-35  { opacity: .35;   }
.o-30  { opacity: .3;   }
.o-20  { opacity: .2;   }
.o-10  { opacity: .1;   }
.o-05  { opacity: .05;  }
.o-025 { opacity: .025; }
.o-0   { opacity: 0; }



// visibility
// ----------------------------------------------------------------------
.visible {
	visibility: visible;
}
.hidden {
  visibility: hidden;
}
.visible-xs {
	@include sm {
		display: none;
	}
}
.hidden-xs {
	@include sm-max {
		display: none;
	}
}
.hidden-sm {
	@mixin sm-ex {
		display: none;
	}
}
.hidden-md {
	@mixin md-ex {
		display: none;
	}
}
.hidden-lg {
	@mixin lg {
		display: none;
	}
}



/*-------------------
      Typography
--------------------*/

// colours
// ----------------------------------------------------------------------
.fc-blue {
	color: $ns-grey;
}
.fc-white {
	color: $ns-white;
}
.fc-yellow {
	color: $ns-yellow;
}
.fc-blue {
	color: $ns-blue;
}
.fc-light-blue {
	color: $ns-light-blue;
}
.fc-grey {
	color: $ns-grey;
}
.fc-grey-2 {
	color: $ns-grey-2;
}
.fc-grey-3 {
	color: $ns-grey-3;
}
.fc-grey-4 {
	color: $ns-grey-4;
}
.fc-grey-5 {
	color: $ns-grey-5;
}
.fc-grey-6 {
	color: $ns-grey-6;
}
.fc-grey-6b {
	color: $ns-grey-6b;
}
.fc-grey-7 {
	color: $ns-grey-7;
}
.fc-grey-8 {
	color: $ns-grey-8;
}

// font weights
// ----------------------------------------------------------------------
.fw-normal {
	font-weight: normal;
}
.fw-b {
	font-weight: bold;
}

// word wraps
// ----------------------------------------------------------------------
.no-wrap {
	white-space: nowrap;
}
.break-word {
	word-wrap: break-word; 
}




/*-------------------
      SVG styles
--------------------*/

// svg colours
// ----------------------------------------------------------------------
.svg-blue svg {
	fill: $ns-blue;
}
.svg-light-blue svg {
	fill: $ns-light-blue;
}
.svg-red svg {
	fill: $ns-red-alert;
}
.svg-white svg {
	fill: $ns-white;
}
.svg-grey svg {
	fill: $ns-grey;
}
.svg-grey-2 svg {
	fill: $ns-grey-2;
}
.svg-grey-3 svg {
	fill: $ns-grey-3;
}
.svg-grey-4 svg {
	fill: $ns-grey-4;
}
.svg-grey-5 svg {
	fill: $ns-grey-5;
}
.svg-grey-6 svg {
	fill: $ns-grey-6;
}
.svg-grey-6b svg {
	fill: $ns-grey-6b;
}
.svg-grey-7 svg {
	fill: $ns-grey-7;
}
.svg-grey-8 svg {
	fill: $ns-grey-8;
}




/*-------------------
       Borders
--------------------*/

// dividers
// -------------------------
.divider-white {
	border-bottom: 1px solid $ns-white;
}
.divider-grey-7 {
	border-bottom: 1px solid $ns-grey-7;	
}
.divider-grey-6b {
	border-bottom: 1px solid $ns-grey-6b;	
}
.divider-grey-6 {
	border-bottom: 1px solid $ns-grey-6;	
}
.divider-alpha-15 {
	border-bottom: 1px solid $ns-grey-alpha-15;	
}
.divider-blue-2px {
	border-bottom: 2px solid $ns-blue;
}
.divider {
	@extend .divider-grey-7;
}
.divider-v {
	border-left: 1px solid $ns-grey-7;
}




/*-------------------
       Shadows
--------------------*/

// box shadows
// -------------------------
.box-shadow-soft {
	box-shadow: $box-shadow-soft;
}
.box-shadow-hard {
	box-shadow: $box-shadow-hard;
}
.box-shadow-container {
	box-shadow: $box-shadow-container;
}




/*-------------------
     Backgrounds
--------------------*/

// fills
// --------------------------------------------
.bg-white {
	background-color: $ns-white;
}
.bg-yellow {
	background-color: $ns-yellow;
}

// gradients
// --------------------------------------------
.gd-vivid-blue {
	background: linear-gradient(
		110deg, $ns-light-blue 0%, #4BCED4 100%);
}	
.gd-cerulean {
	background: linear-gradient(
		110deg, #94DCF6 0%, #C6EDFD 100%);
}	
.gd-cobalt-blue {
	background: linear-gradient(to bottom,
		rgba($ns-blue, 1) 0%,
		rgba($ns-blue, 0) 80%);
}
.gd-black {
	background: linear-gradient(to bottom,
		rgba($ns-black, 1) 20%,
		rgba($ns-black, 0) 100%);
}	
.gd-ns-blue {
	background: linear-gradient(
		110deg, #0050A8 0%, $ns-blue 100%);
}	
.gd-light-grey {
	background: linear-gradient(
		110deg, $ns-white 0%, $ns-grey-7 100%);
}	
.gd-grey {
	background: linear-gradient(
		110deg, $ns-grey-8 0%, $ns-grey-7 100%);
}	
.gd-yellow {
	background: linear-gradient(
		110deg, $ns-yellow 0%, #FFE48A 100%);
}	
.gd-turquoise {
	background: linear-gradient(
		110deg, #79CEC3 0%, #BCFFF0 100%);
}