<div class="container" data-noindex="true">
    <div class="grid" data-controller="generic/ui/ResponsiveGrid">
        <div class="grid__unit s-4-4 m-12-12 l-12-12">
            <div class="tile tile--ns-yellow tile--gradient tile--smallGradient tile--slim tile--noBottom">
                <div class="tile__header">
                    <header class="headingGroup" data-type="cms-ArticleHeader">
                        <h1 class="headingXL">Plan uw reis</h1>
                    </header>
                </div>
                <div rio-pb-app class="tile__content"></div>
                <div class="tile__footer" data-type="reisplannerbalk-footer">
                    <div class="separator--noTop separator--alphaGray  tile__footerContent">
                        <ul class="list list--horizontal list--hasIcon">
                            <li class="list__item">
                                <a class="arrowLink--rightBlue" href="/reisinformatie/actuele-situatie-op-het-spoor">
                                    <span class="icon icon--alert icon--nsRed"></span>
                                    <span class="s-visible--inline-block m-hidden">
                                        Verstoringen (5)</span>
                                    <span class="s-hidden m-visible--inline-block">
                                        Storingen en werkzaamheden (5)</span>
                                </a>
                            </li>
                            <li class="list__item s-hidden m-visible">
                                <a class="arrowLink--rightBlue" href="/reisinformatie">Meer reisinformatie</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <ul class="notificationList">
                    <li class="notificationList__item">
                        <div class="notificationBar notificationBar--alert notificationBar--ellipsis notificationBar--slim">
                            <a href="/reisinformatie/calamiteiten/vooraankondiging-werkzaamheden-eindhoven-venlo.html"
                                class="notificationBar__link">
                                <span class="notificationBar__icon icon icon--alert icon--nsWhite">
                                    <span class="alt">Waarschuwing:</span>
                                </span>
                                <span class="notificationBar__text">Eindhoven-Venlo werkzaamheden donderdag 12 juli t/m
                                    zondag 15 juli</span>
                                <span class="notificationBar__arrow icon icon--chevron-mini icon--nsWhite"></span>
                            </a>
                        </div>
                    </li>
                </ul> -->
        </div>
    </div>
</div>