/*-------------------
       Planner
--------------------*/

.tk-planner {
    padding-top: $one-half-gutter;
    background: radial-gradient(circle at 50% 50%, #FFD342 0%, $ns-yellow 100%);
}

.tk-planner__container {
    padding: 0 2rem 300px;
}