---
layout: default
---

{% include header.html %}
<div class="content">
    {{ content }}
    {% unless page.no-rp %} {% include planner.html %} {% endunless %}
    {% include tiles.html %}
</div>
{% include footer.html %}

<!-- JAVASCRIPT -->
<script>
    //<![CDATA[		
    window.planbarConfiguration = {
        staticFilePath: 'https://www.ns.nl/static/apps/rp-planbar-app/1.1.0/',
        journeyPlannerPath: '/reisplanner'
    }
    //]]>
</script>
<script src="https://www.ns.nl/static/apps/rp-planbar-app/1.1.0/inline.bundle.js"></script>
<script src="https://www.ns.nl/static/apps/rp-planbar-app/1.1.0/polyfills.bundle.js"></script>
<script src="https://www.ns.nl/static/apps/rp-planbar-app/1.1.0/main.bundle.js"></script>
<script src="https://www.ns.nl/static/apps/gssp/1.2.0/js/gssp.js"></script>